{% extends 'base.html.twig' %}

{% block body %}
    <h1>Publicity creation</h1>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
                <div class="panel-body pt-0">
                    <div class="form-wrap">
    {{ form_start(form) }}
        {{ form_widget(form , { 'attr': {'class': 'control-label mb-10'} }) }}
        <input type="submit" value="Create" class="btn btn-orange btn-icon left-icon mr-10 pull-left" />
    {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <ul>
        <li>
            <a href="{{ path('homepage') }}" class="btn btn-default pull-left">Back to the list</a>
        </li>
    </ul>
{% endblock %}
